*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
calibration/robo4j-magviz/out
compiler/robo4j-center/out
camera/robo4j-camera-center/out
/camera/robo4j-camera-center/.nb-gradle/
/calibration/robo4j-magviz/.nb-gradle/